.none_a {
  text-decoration: none;
  cursor: pointer;
  color: darkgray;
}

.user {
  font-weight: bold;
}

.like {  
  text-decoration: none;
  background-color: #d7373f;
  color: white;
  padding: 0.4rem;
  border-radius: 4px;
}